/* homepage.css */
body {
	text-align: left;
	color: black;
	border-left: 55px solid black;
	border-right: 55px solid black;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

